aider-install==0.1.3
aiofiles==22.1.0
aiohttp==3.8.3
aiosignal==1.2.0
aiosqlite==0.21.0
altair==5.5.0
altgraph==0.17.4
analytics-python==1.4.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astatine==0.3.2
astroid==2.5
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==4.0.2
attr-utils==0.7.0
attrs==25.3.0
audioread==3.0.0
babel==2.17.0
backcall==0.2.0
backoff==1.10.0
bcrypt==4.0.0
beartype==0.21.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.2.0
cloudpathlib==0.21.1
cloudpickle==3.1.1
colorful==0.5.4
comm==0.2.2
confection==0.1.5
consolekit==1.4.1
cryptography==38.0.1
cycler==0.11.0
cymem==2.0.11
dataclasses-json==0.6.7
datasets==3.6.0
debugpy==1.8.14
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
deprecation==2.1.0
deprecation-alias==0.3.1
dill==0.3.8
distlib==0.3.9
distro==1.9.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
docutils==0.19
dom_toml==0.6.0
domdf-python-tools==3.4.0
duckduckgo_search==8.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
entrypoints==0.4
exceptiongroup==1.2.2
execnb==0.1.4
executing==2.2.0
fastai==2.8.2
fastapi==0.85.0
fastbook==0.0.29
fastcore==1.8.2
fastdownload==0.0.7
fastjsonschema==2.21.1
fastprogress==1.0.3
fasttransform==0.0.2
ffmpy==0.3.0
filelock==3.8.0
fonttools==4.34.4
formate==0.4.10
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.3.1
fsspec==2025.3.0
ghapi==1.0.3
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
groovy==0.1.2
h11==0.14.0
hpack==3.0.0
httpcore==1.0.8
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
hyperframe==5.2.0
idna==3.10
ipykernel==6.29.5
ipython==8.35.0
ipython-genutils==0.2.0
ipywidgets==7.8.5
isoduration==20.11.0
isort==5.6.4
jedi==0.19.2
Jinja2==3.1.2
jiter==0.9.0
joblib==1.1.0
json5==0.12.0
jsonpatch==1.33
jsonpickle==2.2.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter-ydoc==0.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_fileid==0.9.3
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==1.1.11
kaggle==1.5.12
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
lab==7.1
langchain-ollama==0.3.2
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.3.42
language_data==1.3.0
lazy-object-proxy==1.7.1
librosa==0.9.2
linkify-it-py==1.0.3
llvmlite==0.39.1
lxml==5.4.0
macholib==1.16.3
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.26.1
matplotlib==3.5.2
matplotlib-inline==0.1.7
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.2
mistletoe==0.9.0
mistune==3.1.3
monotonic==1.6
more-itertools==8.13.0
mpmath==1.3.0
multidict==6.0.2
multiprocess==0.70.16
murmurhash==1.0.12
music21==7.3.3
mypy_extensions==1.1.0
mysql-connector-python==9.1.0
narwhals==1.38.2
natsort==8.2.0
nbclassic==0.4.3
nbclient==0.10.2
nbconvert==7.16.6
nbdev==2.3.7
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==6.4.12
notebook2script==0.2.1
notebook_shim==0.2.4
numba==0.56.2
numpy==1.23.5
openai==1.70.0
openai-whisper==20240930
orjson==3.10.18
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==1.4.4
pandocfilters==1.5.1
paramiko==2.11.0
parso==0.8.4
pathlib_abc==0.1.1
pathy==0.11.0
patsy==0.5.2
pdfminer.six==20231228
pdfplumber==0.11.5
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.2.0
pip-autoremove==0.10.0
platformdirs==4.3.7
plotly==5.10.0
plotly-express==0.4.1
plum-dispatch==2.5.7
pooch==1.6.0
pre-commit-hooks==4.3.0
preshed==3.0.9
prettyprinter==0.18.0
primp==0.15.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
protobuf==6.30.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pybind11==2.13.6
pycparser==2.22
pycryptodome==3.15.0
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pylint==2.7.1
PyNaCl==1.5.0
pyparsing==3.0.9
pypdfium2==4.30.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
python-osc==1.9.3
python-slugify==6.1.2
pytz==2022.2.1
PyYAML==6.0.2
pyzmq==26.4.0
qtconsole==5.3.1
QtPy==2.1.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.24.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruff==0.11.10
safetensors==0.5.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.13.2
selenium==4.33.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==4.0.2
sentencepiece==0.2.0
shellingham==1.5.4
simplejson==3.17.6
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.6
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
sqlparse==0.5.3
srsly==2.5.1
stack-data==0.6.3
starlette==0.20.4
statsmodels==0.13.2
streamlit==1.45.0
sympy==1.14.0
tenacity==8.1.0
termcolor==3.1.0
terminado==0.18.1
text-unidecode==1.3
thinc==8.1.12
threadpoolctl==3.1.0
tiktoken==0.9.0
timm==0.6.7
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
toolz==0.12.0
torch==2.7.1
torchaudio==0.11.0
torchvision==0.22.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.2
trio==0.30.0
trio-websocket==0.12.2
txt2tags==3.7
typer==0.9.4
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
uc-micro-py==1.0.1
uri-template==1.3.0
urllib3==2.4.0
uv==0.7.12
uvicorn==0.18.3
wasabi==1.1.3
watchdog==2.1.9
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.3
widgetsnbextension==3.6.10
wrapt==1.12.1
wsproto==1.2.0
xxhash==3.5.0
y-py==0.6.2
yapf==0.31.0
yapf-isort==0.6.0
yarl==1.8.1
ypy-websocket==0.8.4
zstandard==0.23.0
